.card {
  display: none;
  .main {
    display: flex;
    flex-wrap: wrap;
    img {
      flex: 0 0 50%;
      height: 30vh;
      width: 30vh;
    }
    h1 {
      flex: 0 0 50%;
    }
    p {
      flex-grow: 2;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
